<%- include('../includes/head.ejs') %>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage){ %>
        <div class="user-message user-message-error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid':'' %>" name="email" id="email" value="<%= oldInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid':'' %>" name="password" id="password" value="<%= oldInput.password %>">
            </div>
            <button class="btn" type="submit">Login</button>
        </form>
        <div class="centered">
            <a href="/reset-password">Forgot Password</a>
        </div>
    </main>
<%- include('../includes/footer.ejs') %>