<%- include('../includes/head.ejs') %>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage){ %>
        <div class="user-message user-message-error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/new-password" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="user_id" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <div class="form-control">
                <label for="new-password">New Password</label>
                <input type="password" name="new_password" id="new-password">
            </div>
            <div class="form-control">
                <label for="confirm-new-password">Confirm New Password</label>
                <input type="password" name="confirm_new_password" id="confirm-new-password">
            </div>
            <button class="btn" type="submit">Update Password</button>
        </form>
    </main>
<%- include('../includes/footer.ejs') %>