<%- include('../includes/head.ejs') %>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage){ %>
        <div class="user-message user-message-error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/reset-password" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <button class="btn" type="submit">Verify Email</button>
        </form>
    </main>
<%- include('../includes/footer.ejs') %>