<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
        <main>
            <% if (cartItems.length > 0) { %>
                <ul>
                    <% cartItems.forEach(p => { %>
                        <li>
                            <p><%= p.productId.title %> (<%= p.quantity %>)</p>
                            <form action="/cart-product-remove" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" value="<%= p.productId._id %>" name="product_id">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                    <br>
                    <li>
                        <form action="/create-order" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn" type="submit">Order</button>
                        </form>
                    </li>
                </ul>

            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>

<%- include('../includes/footer.ejs') %>
